# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
        requirements-cmd:
          - -r testing-requirements.txt -r requirements.txt
        pytest-run-cmd:
          - pytest
        include:
          - python-version: "3.8"
            requirements-cmd: -r testing-requirements.txt -r oldest
          - python-version: "3.10"
            codecov-run-cmd: |
              python -m pip install -r coverage-requirements.txt
              pytest --cov=generalizedtrees --cov-report xml

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install ${{ matrix.requirements-cmd }}
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      if: ${{ !matrix.codecov-run-cmd }}
      run: |
        ${{ matrix.pytest-run-cmd }}
    - name: Test with pytest and codecov
      if: ${{ matrix.codecov-run-cmd }}
      run: ${{ matrix.codecov-run-cmd }}
    - name: Upload coverage to codecov
      if: ${{ matrix.codecov-run-cmd }}
      uses: codecov/codecov-action@v3
